table {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.table td {
    border: 1px solid black;
    padding: 16px;
    color: black;
}

.table th {
    color: black;
}

body {
    background-color: lightblue;
}

h1 {
    color: black;
    font-size: 64px;
    text-decoration: underline;
}

.events_form > label {
    color: black;
}