table {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.table td {
    border: 1px solid black;
    padding: 16px;
    color: orangered;
}

.table th {
    color: blueviolet;
}

body {
    background-color: greenyellow;
}

h1 {
    color: blueviolet;
    font-size: 64px;
    text-decoration: underline;
}

.events_form > label {
    color: orangered;
}